.mainHeading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 70px 20px 10px;
  background-color: var(--background-light-color);
  position: relative;
}

@media (max-width: 800px) {
  .mainHeading {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .mainHeading {
    font-size: 24px;
  }
}
