.heroImage {
  /* width: 350px;
  height: 350px; */
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  transition: all 1000ms;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.show {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 380px) {
  .heroImage {
    width: 250px;
    height: 250px;
  }
}
