.problemCard {
  background-color: var(--background-light-color);
  margin-bottom: 40px;
}

.problemHeader {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  padding-inline: 10px;
  padding-block: 5px;
}

.problemImg {
  width: 100%;
}

.problemStatement {
  border-radius: 5px;
  font-size: 1.3rem;
}

.mathJax {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
}